:root {
	--font-size: 17px;
	--baseline: 30px;
	--half-baseline: calc(var(--baseline) / 2);
	--text-color: #444;
	--gray-color: #999;
	--border-color: #DDD;
}

html, body, div, span,
h1, h2, h3, h4, p, blockquote, pre,
a, abbr, acronym, cite, code,
del, em, img, ins, strike, strong, sub, sup,
b, u, i, ol, ul, li,
table, tr, th, td, article, aside,
figure, figcaption, footer, header,
nav, section, time {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	--padding: 5vw;

	font: var(--font-size)/var(--baseline) "Acumin", sans-serif;
	color: var(--text-color);
	max-width: calc(600px + var(--padding) * 2);
	margin: calc(var(--baseline) * 2) auto;
	letter-spacing: 0.2px;
	padding: 0 var(--padding);
}

@media (max-width: 600px) {
	:root {
		--font-size: 16px;
		--baseline: 26px;
	}
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: var(--gray-color);
}

img {
	max-width: 100%;
	display: block;
	object-fit: cover;
}

h1, h2, h3, h4 {
	font-size: inherit;
}

h1, h3 {
	font-weight: normal;
}

.post-title {
	font-size: 1.333rem;
}

h2, .post-title, h4 {
	margin-bottom: var(--half-baseline);
}

nav ul, .post-list, footer ul {
	list-style: none;
}

/** Navigation
**/

nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: calc(var(--baseline) * 3)
}

nav li {
	display: inline-block;
}

nav li ~ li {
	margin-left: var(--half-baseline);
}

/** Index Section
**/

section ~ section {
	margin-top: calc(var(--baseline) * 1.5)
}

/** Post List
**/

@media (min-width: 600px) {
	.post-list li {
		display: flex;
		justify-content: space-between;
	}
}

.post-list li ~ li {
	margin-top: var(--half-baseline);
}

/** Individual Post
**/

header {
	margin-bottom: var(--baseline);
}

.post-desc {
	margin-bottom: var(--half-baseline);
}

.post-meta, .footer-column span, .post-navigation span {
	font-size: 0.75rem;
	display: block;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: var(--gray-color);
}

/** Post Navigation
**/

.post-navigation {
	margin-top: calc(var(--baseline) * 2);
	padding-top: calc(var(--baseline) - 1px);
	border-top: 1px solid var(--border-color);
}

@media (max-width: 600px) {
	.prev:not(:empty) {
		margin-bottom: var(--half-baseline);
	}
}

@media (min-width: 600px) {
	.post-navigation {
		display: flex;
	}
	.post-navigation-col {
		flex: 1;
	}
	.next {
		text-align: right;
	}
	.prev span:before {
		content: "\2190  ";
	}
	.next span:after {
		content: " \2192";
	}
}

/** Basic Text Formatting
**/

p > a {
	text-decoration: underline;
}

p, blockquote, .post-figure, article ol, article ul {
	margin-bottom: var(--baseline);
}

blockquote {
	padding-left: var(--baseline);
	border-left: 3px solid #CCC;
}

blockquote p {
	margin-bottom: var(--half-baseline);
}

@media (min-width: 800px) {
	.post-figure {
		width: calc(100% + 4rem);
		margin-left: -2rem;
	}
}

figcaption {
	font-size: 0.85rem;
	margin-top: var(--half-baseline);
}

/** Footer
**/

footer {
	margin-top: calc(var(--baseline) * 3);
}

.footer-wrap {
	display: flex;
}

.footer-copyright {
	margin-top: calc(var(--baseline) * 1.5);
	color: var(--gray-color);
	border-top: 1px solid var(--border-color);
	padding-top: calc(var(--baseline) - 1px);
}

.footer-column {
	flex: 1;
}
