---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>
  <script type="text/javascript">
    function loadFont(a,b,c){function d(){if(!window.FontFace)return!1;var a=new FontFace("t",'url("data:application/font-woff2,") format("woff2")');return a.load(),"loading"===a.status}var e=navigator.userAgent,f=!window.addEventListener||e.match(/(Android (2|3|4.0|4.1|4.2|4.3))|(Opera (Mini|Mobi))/)&&!e.match(/Chrome/);if(!f){var g={};try{g=localStorage||{}}catch(h){}var i="x-font-"+a,j=i+"url",k=i+"css",l=g[j],m=g[k],n=document.createElement("style");if(n.rel="stylesheet",document.head.appendChild(n),!m||l!==b&&l!==c){var o=c&&d()?c:b,p=new XMLHttpRequest;p.open("GET",o),p.onload=function(){p.status>=200&&p.status<400&&(g[j]=o,g[k]=n.textContent=p.responseText)},p.send()}else n.textContent=m}}
  </script>
  <script type="text/javascript">
    loadFont("Acumin", "/assets/fonts-woff.css", "/assets/fonts-woff2.css");
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">
  <link rel="stylesheet" href="/assets/main.css">
  <title>
    {% if page.title %}
      {{ page.title }} -
    {% endif %}
    {{ site.title }}
  </title>
</head>
<body>
  <nav>
  	<h1><a title="Homepage" href="/">{{ site.title }}</a></h1>
  	<ul>
      {% for item in site.data.navigation offset:1 %}
        <li>
          <a href="{{ item.link }}" title="{{ item.title }}">{{ item.name }}</a>
        </li>
      {% endfor %}
  	</ul>
  </nav>
  <main>
    {{ content }}
  </main>
  <footer>
    <div class="footer-wrap">
    	<div class="footer-column">
    		<span>Links</span>
    		<ul>
          {% for item in site.data.navigation %}
            <li>
              <a href="{{ item.link }}" title="{{ item.title }}">{{ item.name }}</a>
            </li>
          {% endfor %}
    		</ul>
    	</div>
    	<div class="footer-column">
    		<span>Elsewhere</span>
    		<ul>
          {% for item in site.data.elsewhere %}
            <li>
              <a target="blank" href="{{ item.link }}" title="{{ item.title }}">{{ item.name }}</a>
            </li>
          {% endfor %}
    		</ul>
    	</div>
    </div>
    <div class="footer-copyright">
      © {{ 'now' | date: "%Y" }} David HC. All right reserved. 
    </div>
  </footer>
  <script type="text/javascript" src="/assets/main.js"></script>
</body>
</html>
